.cursor-glow {
    position: fixed;
    width: 600px;
    height: 600px;
    background: radial-gradient(
    circle,
    rgba(42, 44, 142, 0.35) 0%,
    rgba(46, 48, 143, 0.15) 30%,
    rgba(22, 23, 83, 0.05) 50%,
    transparent 70%
  );
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    filter: blur(40px);
    z-index: 1;
    will-change: transform;
}